<div class="article-content">
  <h1 class="article-title"><%= @article.title %></h1>
  <div class="article-img">
    <%= image_tag @article.picture.url(), class: "img-modal" %>
  </div>
  <p class="article-text">
    <%= @article.content %>
  </p>
  <p>
    <%= link_to 'back to index', articles_path, class: "btn btn-default pull-right" %>
  </p>
</div>
<div class="comment-content">
<div class="comment-form" id="form-comment">
  <h5><%= Comment.where(:article_id => @article.id).count %> comment(s)</h5>
  <%= render 'form_comment' %>
</div>
<div class="comments-list" id="list-comments">
  <h4>Here the comments</h4>
  <%= render 'comments' %>
</div>
</div>
