<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Implement CRUD for images</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Training Bootstrap", articles_path, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav ">
            <li>
              <%= link_to "Articles", articles_path %>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-right sign-link">
            <li>
              <% if !current_user %>
              <%= link_to 'Log-in', login_path, class: "in-link" %>
              <% else %>
              <span>Hello, <%= current_user.username %></span> 
              <%= link_to 'Log Out', logout_path(current_user.id), class:"out-link" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      
        <%= yield %>
      
    </div>
    <%= javascript_include_tag 'script' %>
  </body>
</html>
